{% extends 'insurance/base.html' %}
{% block title %}
Страховые компании
{% endblock %}

{% block body %}
    {% if messages %}
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
{% endif %}
    <h1>Компании</h1>

    <form action="#" method="get">
        {{ form.as_p }}
        <input type="submit" value = "Отправить">
    </form>

    </form>
        {% for service in Services %}
                <div style = "border:  dashed ; border-color: aqua;">
                    <i>Компания</i> {{ service.insurance_companies.name }} <br>
                      <img class="recipe_image" src="{{ service.insurance_companies.image.url }}" width="100px" height="100px">
                    <br>
                    <i>Экспертный рейтинг</i> {{ service.insurance_companies.expert_rating }}
                    <br>
                    <i>Клиентская база </i> {{ service.insurance_companies.customer_base }} тыщ. чел.
                    <br>
                    <i>Процентная отказа</i> {{ service.insurance_companies.general_refusal }} %
                    <br>
                    <i>Возраст компании</i> {{ service.insurance_companies.get_date_year }}
                    <br>
                    <i>Тип сервиса:</i> {{ service.type_services}}
                    <br>
                    <i>Название услуги:</i> {{ service.name|truncatewords_html:15|safe}}
                    <br>
                    <i>Краткое описание услуги:</i> {{ service.description|truncatewords_html:80|safe}}

                    <i>Сумма страхования в рублях до:</i> {{ service.insurance_cost}} рублей

                    <i>Сумма выплат до</i> {{ service.amount_of_payments}} рублей
                    <br>
                    <i>Сроки страхования </i> {{ service.terms_of_insurance}}
                    <input type="button" onclick="add_request_for_a_call({{ service.id }})" value="Записаться">


                </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="{{  request|get_next_url:page_obj.previous_page_number}}">Предыдущая</a>
                {% endif %}

                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="{{  request|get_next_url:page_obj.next_page_number}}">Следующая</a>
                {% endif %}
            </span>
    </div>
{% endblock %}