{% extends 'insurance/base.html' %}
{% block title %}
    Страховые компании
{% endblock %}

{% block body %}
<body>
    <h1 align="center"> Регистрация </h1>
    <form method="post"  action="#" >
        {% csrf_token %}
        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <input type="submit" value="Заригистроваться">
    </form>
{% endblock %}